#firmware-upload-page .main-table thead tr {
    background-color: var(--main-color);
}
#firmware-upload-page .main-table thead tr th {
    background-color: var(--main-color);
}
#firmware-upload-page .main-table thead tr th>.cell {
    background-color: var(--main-color);
    color: white;
}
.multi-select-custom {
    position: relative;
}
.multi-select-custom__label {
    position: absolute;
    z-index: 10;
    top: 9px;
    left: 10px;
    color: #bfcbd9;
}
img.status-img {
    width: 30px;
    vertical-align: middle;
}
img.action-icon {
    width: 30px;
    vertical-align: middle;
    margin: 0 2px;
    cursor: pointer;
}